<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <meta charset="UTF-8">
    <title>Polls page</title>
</head>
<body>
    <div id="header">
        <fieldset id="top">
            <p>Django Polls Page</p>
        </fieldset>
	</div>
{% if latest_question_list %}
    <div id="polls">
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
    </div>
    <div id="footer">
        <fieldset id="foot">
            <p>Created by github.com/lukchm94</p>
        </fieldset>
	</div>
</body>
</html>