li a {
    margin: 20px;
    color: green;
    font-size: 20px;
    spacing: 20;
}

li:hover a {
    color: black;
    background-color: yellow;
    font-weight: bold;
    font-size: 50px;
}

body {
    background: white url("images/background.gif") no-repeat;
}